<h1>Videogames <span>(TOP TEN)</span></h1>

<div class="wrapper">
<div class="slides">
    <div class="slide slide-1">
        <img src="../../../assets/img/games/tw3.png" alt="">
        <div class="carousel-caption d-none d-md-block">
            <h3 class="title">#1</h3>
        </div>
    </div>
    <div class="slide slide-2">
        <img src="../../../assets/img/games/hl2.jpeg" alt="">
        <div class="carousel-caption d-none d-md-block">
            <h3 class="title">#2</h3>
        </div>
    </div>
    <div class="slide slide-3">  
        <img src="../../../assets/img/games/mp.png" alt=""> 
        <div class="carousel-caption d-none d-md-block">
            <h3 class="title">#3</h3>
        </div>   
    </div>
    <div class="slide slide-4">
        <img src="../../../assets/img/games/re4.jpg" alt="">
        <div class="carousel-caption d-none d-md-block">
            <h3 class="title">#4</h3>
        </div>
    </div>
    <div class="slide slide-5">
        <img src="../../../assets/img/games/h3.jpg" alt="">
        <div class="carousel-caption d-none d-md-block">
            <h3 class="title">#5</h3>
        </div>
    </div>
    <div class="slide slide-6">  
        <img src="../../../assets/img/games/cp.jpg" alt=""> 
        <div class="carousel-caption d-none d-md-block">
            <h3 class="title">#6</h3>
        </div>   
    </div>
    <div class="slide slide-7">
        <img src="../../../assets/img/games/mgs2.png" alt="">
        <div class="carousel-caption d-none d-md-block">
            <h3 class="title mg">#7</h3>
        </div>
    </div>
    <div class="slide slide-8">
        <img src="../../../assets/img/games/ssdt.png" alt="">
        <div class="carousel-caption d-none d-md-block">
            <h3 class="title">#8</h3>
        </div>
    </div>
    <div class="slide slide-9">  
        <img src="../../../assets/img/games/popttt.jpg" alt="">
        <div class="carousel-caption d-none d-md-block">
            <h3 class="title po">#9</h3>
        </div>    
    </div>
    <div class="slide slide-10">  
        <img src="../../../assets/img/games/botw.png" alt="">  
        <div class="carousel-caption d-none d-md-block">
            <h3 class="title">#10</h3>
        </div>  
    </div>

</div>
</div>

