<div class="container">
    <div class="row">
        <div class="col-md-3">
        <br>
        <div class="shadow-animate">
          <div class="list-group">
            <h4 class="list-group-item active color-principal">
                Personal Information
            </h4>
            <div class="info">
              <img src="../../../assets/img/usuario.svg" alt="" width="20" height="25">&nbsp; Kevin Ayala M.<br>
              <img src="../../../assets/img/torta-cumpleanos.svg" alt="" width="20" height="25">&nbsp; 1991 (33 years) <br>
              <img src="../../../assets/img/marcador.svg" alt="" width="20" height="25">&nbsp; Mexico City <br>
              <img src="../../../assets/img/sobre.svg" alt="" width="20" height="25">&nbsp; kevaya91&#64;outlook.com <br>
              <img src="../../../assets/img/linkedin.svg" alt="" width="20" height="25">&nbsp; <span>www.linkedin.com/in/kevin-ayala-a956852bb </span> <br>
              <img src="../../../assets/img/github.svg" alt="" width="20" height="25">&nbsp; https://github.com/Kenjivlar
            </div>
          </div>
       
        </div>
        </div>
  
      <div class="col-md-9">
        <h1 style="text-align: center;" class="m-5">Experience</h1>
        <div class="container wrapper">
            <div class="card">
                <h3 class="card-header">Solera</h3>
                <div class="card-body">
                  <div class="row g-0">
                    <div class="col-md-4">
                      <h4 class="card-title">Software Developer</h4>
                      <h5 class="tim">Sept 2022 <strong>-</strong> Feb 2024</h5>
                      <p class="card-text" id="desc">Description in the PDF CV</p>
                    </div>
                    <div class="col-md-8" id="imgc">
                      <img src="../../../assets/img/solera.png" alt="" class="imgs">
                    </div>
                  </div>
                </div>
            </div>
            <br>
            <div class="card">
                <h3 class="card-header">Softek</h3>
                <div class="card-body">
                  <div class="row g-0">
                    <div class="col-md-4">
                      <h4 class="card-title">Student in Java Academy</h4>
                      <h5 class="tim">Mar 2022 <strong>-</strong> May 2022</h5>
                      <p class="card-text" id="desc">Description in the PDF CV</p>
                    </div>
                    <div class="col-md-8" id="imgc">
                      <img src="../../../assets/img/softtek.png" alt="" class="imgso">
                    </div>
                  </div>
                </div>
            </div>
            <br>
            <div class="card">
                <h3 class="card-header">Actin</h3>
                <div class="card-body">
                  <div class="row g-0">
                    <div class="col-md-4">
                      <h4 class="card-title">PHP Trainee</h4>
                      <h5 class="tim">May 2021 <strong>-</strong> Feb 2022</h5>
                      <p class="card-text" id="desc">Description in the PDF CV</p>
                    </div>
                    <div class="col-md-8" id="imgc">
                      <img src="../../../assets/img/actin.jpg" alt="" class="imgsa">
                    </div>
                  </div>
                </div>
            </div>
            <br>
            <div class="card">
                <h3 class="card-header">SAT</h3>
                <div class="card-body">
                  <div class="row g-0">
                    <div class="col-md-4">
                      <h4 class="card-title">Social Service</h4>
                      <h5 class="tim">Mar 2020 <strong>-</strong> Aug 2020</h5>
                      <p class="card-text" id="desc">Description in the PDF CV</p>
                    </div>
                    <div class="col-md-8" id="imgc">
                      <img src="../../../assets/img/sat.png" alt="" class="imgsat">
                    </div>
                  </div>
                </div>
            </div>
        </div>
      </div>
      
    </div>
  </div>