<div class="container">
    <div class="row">
        <div class="col-md-3">
        <br>
          <div class="list-group">
            <h4 class="list-group-item active color-principal">
                Informacion Personal
            </h4>
            <ul>
              <li>Kevin A. M.</li>
              <li>26 años</li>
              <li>Acueducto</li>
              <li>561178793</li>
              <li>kayarrobamail.com</li>
            </ul>
          </div>
       
        </div>
  
      <div class="col-md-9">
        <h1 style="text-align: center;" class="m-5">Experience</h1>
        <div class="container wrapper">
            <div class="card">
                <h3 class="card-header">Solera</h3>
                <div class="card-body">
                  <h4 class="card-title">Software Developer</h4>
                  <h5>Sept 2022 <strong>-</strong> Feb 2024</h5>
                  <p class="card-text">Description.</p>
                </div>
            </div>
            <br>
            <div class="card">
                <h3 class="card-header">Softek</h3>
                <div class="card-body">
                  <h4 class="card-title">Software Developer</h4>
                  <h5>Mar 2022 <strong>-</strong> May 2022</h5>
                  <p class="card-text">Description.</p>
                </div>
            </div>
            <br>
            <div class="card">
                <h3 class="card-header">Actin</h3>
                <div class="card-body">
                  <h4 class="card-title">Software Developer</h4>
                  <h5>May 2021 <strong>-</strong> Feb 2022</h5>
                  <p class="card-text">Description.</p>
                </div>
            </div>
            <br>
            <div class="card">
                <h3 class="card-header">SAT</h3>
                <div class="card-body">
                  <h4 class="card-title">Software Developer</h4>
                  <h5>Mar 2020 <strong>-</strong> Aug 2020</h5>
                  <p class="card-text">Description.</p>
                </div>
            </div>
        </div>
      </div>
      
    </div>
  </div>