<div class="container">
    <div class="row">
      <div class="col-md-3">
        <br>
        <div class="list-group">
          <h4 class="list-group-item active color-principal">
              Personal Information
          </h4>
          <ul>
            <li>Kevin A.</li>
            <li>26 years old</li>
            <li>Acueducto</li>
            <li>561178793</li>
            <li>kayarrobamail.com</li>
          </ul>
        </div>
      </div>
  
      <div class="col-md-9">
        <h1 style="text-align: center;" class="m-5">Education</h1>
        <div class="card">
            <div class="card-header">
              <h2>Universidad Multicultural CUDEC</h2>
            </div>
            <div class="card-body">
              <div class="row g-0">
                <div class="col-md-4">
                  <h3 class="card-title">Computer Science</h3>
                  <h4 class="card-text" id="tite">Bachelor's Degree</h4>
                  <p class="yer">Graduated in 2020</p>
                </div>
                <div class="col-md-8" id="imgc">
                  <img src="../../../assets/img/achieve.png" alt="" class="imga">
                </div>
              </div>
            </div>
          </div>
      </div>
      
    </div>
</div>