.container{
    padding-bottom: 90px;
}



.imga{
    width:116px;
    height:116px;
    float: right;
}

.list-group{
    position: fixed;
    top: 90px;
    left: 40px;
}
  
@media screen and (max-width: 1070px) {
    .list-group {
        width: 100%;
        left: 0px;
        top: 0%;
        position: relative;
    }
}

@media screen and (max-width: 770px) {
    #imgc{
        display: flex;
        justify-content: center;
    }

    #tite{
        text-align: center;
    }

    .yer{
        text-align: right;
    }
}

.card-header{
    text-align: center;
}