#play{
	font-family: 'Play';
}

.nav{
    background-color: #e3f2fd;
}

.footer{
	clear: both;
	text-align: center;
	padding-top: 10px;
	padding-bottom: 15px;
	color: white;
	background: #222;
	border-top: 4px solid #01B1EA;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.list-group{
 
  position: fixed;
  top: 90px;
  left: 40px;


}

@media screen and (max-width: 1070px) {
	.list-group {
	  width: 100%;
	  left: 0px;
	  top: 0%;
	  position: relative;
	}
}
  
 