<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner" role="listbox">
      <img src="{{ showSlide() }}" alt="slide" />
    </div>
  
    <button (click)="prevSlide()">Prev</button>
  
    <button (click)="nextSlide()">Next</button>
  </div>

<br>
    <input type="text" id="n2">
    <p>Introduce a Number</p>
    <button (click)="saveNumber()">Save</button>

    <p>{{number3}}</p>

    <br>
    <br>

    <button id="four" (click)="nFur()">4</button>
    <p>{{number4}}</p>

    


    