h1{
    font-family: 'PlayB';
}

.wrapper{
    padding-bottom: 90px;
}

.carousel-control-prev, .carousel-control-next{
    color: black;
}

.carousel-item{
    width: 400px;
    height: 300px;

    
    left: 50%;
    
    transform: translate(-50%);
            
}

.d-block{
    width: 100%;
    height: 100%;

}


