<h1 style="text-align: center;" class="m-5">Courses</h1>
        <div class="container">
          <div class="content-wrap">
            <h2>Udemy:</h2>
            <ul class="list-group">
              <li class="list-group-item udemy">Universidad Desarrollo Web - FrontEnd Web Developer! <br> <br> <p>El mejor curso para aprender a crear aplicaciones Web Modernas con HTML, CSS y JavaScript. Serás un FrontEnd Developer!</p></li>
              <li class="list-group-item udemy">Master en PHP, SQL, POO, MVC, Laravel, Symfony, WordPress + <br> <br> <p>Aprende PHP desde cero, bases de datos, SQL, MySQL, POO, MVC, Laravel 10, Symfony 6, WordPress y más +56h</p>
              </li>
            </ul>
            <br>
            <h2>Youtube Channels</h2>
            <ul class="list-group">
              <li class="list-group-item youtube t"> <a href="https://www.youtube.com/@FacultadAutodidacta" target="_blank">Facultad Autodidacta</a></li>
              <li class="list-group-item youtube"><a href="https://www.youtube.com/@FalconMasters" target="_blank">FalconMasters</a></li>
              <li class="list-group-item youtube"><a href="https://www.youtube.com/@Jygproyectosweb" target="_blank">J&G Proyectos Web</a></li>
              <li class="list-group-item youtube"><a href="https://www.youtube.com/@LearnWebCode" target="_blank">LearnWebCode</a></li>
              <li class="list-group-item youtube"><a href="https://www.youtube.com/@render2web" target="_blank">render2web</a></li>
              <li class="list-group-item youtube"><a href="https://www.youtube.com/@pildorasinformaticas" target="_blank">pildorasinformaticas</a></li>
              <li class="list-group-item youtube b"><a href="https://www.youtube.com/@TheLearnProgrammingChannel" target="_blank">The Learn Programming Channel</a></li>
            </ul>
          </div>
       </div>
      