.wrapper{
    padding-bottom: 90px;
}
.container{
	display:flex;
	justify-content: center;
	align-items: center;
}

.blck{
	display: block;
	width: 500px;
}

.calc{

	margin-bottom: 60px;

}

.guess{
	float: right;
	margin-top: -50px;
	margin-bottom: 10px;
}

.weather{
	float: left;
	margin-bottom: 10px;
}

.videog{
	float: right;
	margin-top: 50px;
	margin-bottom: 10px;
}

.hang{
	float: left;
	margin-left: -113px;
	margin-top: 100px;
}

.rps{
	float: right;
	margin-left: -113px;
	margin-right: -163px;
	margin-top: 150px;
}

.test2{
	float: left;
	margin-left: -143px;
	margin-top: 200px;
}



@media screen and (max-width: 990px) {

.calc, .guess, .weather, .videog, .hang, .rps, .test2{

	float: none;
	margin-top: unset;
	margin-bottom: 20px;
	margin-left: 35%;
}

    
}