<h1 style="text-align: center;" class="m-5">Aplications and Games</h1>

<div class="wrapper">
    <!-- <div class="container">
	
        <input type="radio" id="i1" name="images" checked />
        <input type="radio" id="i2" name="images" />
        <input type="radio" id="i3" name="images" />
        <input type="radio" id="i4" name="images" />
        <input type="radio" id="i5" name="images" />	
        
        <div class="slide_img" id="one">			
                
                <img src="../../../assets/img/bike.jpg">
                
                    <label class="prev" for="i5"><span>&#x2039;</span></label>
                    <label class="next" for="i2"><span>&#x203a;</span></label>	
            
        </div>
        
        <div class="slide_img" id="two">
            
                <img src="../../../assets/img/run.jpg" >
                
                    <label class="prev" for="i1"><span>&#x2039;</span></label>
                    <label class="next" for="i3"><span>&#x203a;</span></label>
            
        </div>
                
        <div class="slide_img" id="three">
                <img src="../../../assets/img/games.jpg">	
                
                    <label class="prev" for="i2"><span>&#x2039;</span></label>
                    <label class="next" for="i4"><span>&#x203a;</span></label>
        </div>
    
        <div class="slide_img" id="four">
                <img src="../../../assets/img/exercise.jpg">	
                
                    <label class="prev" for="i3"><span>&#x2039;</span></label>
                    <label class="next" for="i5"><span>&#x203a;</span></label>
        </div>
    
        <div class="slide_img" id="five">
                <img src="../../../assets/img/movies.jpg">	
                
                    <label class="prev" for="i4"><span>&#x2039;</span></label>
                    <label class="next" for="i1"><span>&#x203a;</span></label>
    
        </div>
    
        <div id="nav_slide">
            <label for="i1" class="dots" id="dot1"></label>
            <label for="i2" class="dots" id="dot2"></label>
            <label for="i3" class="dots" id="dot3"></label>
            <label for="i4" class="dots" id="dot4"></label>
            <label for="i5" class="dots" id="dot5"></label>
        </div>
            
    </div> -->
    
    
</div>

<!-- <button class="btn btn-primary" [routerLink]="['/vg']" routerLinkActive="router-link-active"> Videogames</button> -->
<button class="btn btn-success" [routerLink]="['/images']" routerLinkActive="router-link-active">Carousel Images</button>
<button class="btn btn-warning" [routerLink]="['/calculator']" routerLinkActive="router-link-active">Calculator</button>
<button class="btn btn-primary" [routerLink]="['/guess-game']" routerLinkActive="router-link-active">Guess Game</button>
<button class="btn btn-danger" [routerLink]="['/weather']" routerLinkActive="router-link-active">Weather Api</button>

