<h1 style="text-align: center;" class="m-5">Aplications and Games</h1>

<div class="wrapper">
    <div class="container">
        
                <div class="blck">
                    <div class="calc">
                        <button class="btn btn-warning" [routerLink]="['/calculator']" routerLinkActive="router-link-active">Calculator</button>
                    </div>
                    <div class="guess">
                        <button class="btn btn-primary" [routerLink]="['/guess-game']" routerLinkActive="router-link-active">Guess Game</button>
                    </div>
                    <div class="weather">
                        <button class="btn btn-danger" [routerLink]="['/weather']" routerLinkActive="router-link-active">Weather Api</button>
                    </div>
                    <div class="videog">
                        <button class="btn btn-success" [routerLink]="['/vg']" routerLinkActive="router-link-active">Videogames</button>
                    </div>
                    <div class="hang">
                        <button class="btn btn-info" [routerLink]="['/hangman']" routerLinkActive="router-link-active">Hangman</button>
                    </div>
                    <!-- <div class="test2">
                        <button class="btn btn-success"> Test2</button>
                    </div> -->
                </div>
                   
              
                
                
                
                
    </div>
    
</div>

<!-- <button class="btn btn-primary" [routerLink]="['/vg']" routerLinkActive="router-link-active"> Videogames</button> -->
<!-- <button class="btn btn-success" [routerLink]="['/images']" routerLinkActive="router-link-active">Carousel Images</button> -->

