.wrapper{
    padding-bottom: 90px;
}
.container{
	display:flex;
	justify-content: center;
	align-items: center;
}

.blck{
	display: block;
	width: 500px;
}

.calc{

	margin-bottom: 60px;

}

.guess{
	float: right;
	margin-top: -50px;
	margin-bottom: 10px;
}

.weather{
	float: left;
	margin-bottom: 10px;
}

.videog{
	float: right;
	margin-top: 50px;
	margin-bottom: 10px;
}


@media screen and (max-width: 990px) {

.calc, .guess, .weather, .videog{

	float: none;
	margin-top: unset;
	margin-bottom: 20px;
	margin-left: 35%;
}

    
}